*{
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    list-style-type: none;
    font-family: fontSite;

}
.container{
    width: 100%;
}
.header {
    position: sticky;
    top: 0%;
    width: 100%;
    display: flex;
}
.headerleft{
    margin-left:0px;
    margin-top:0px;
}
.headerleft img{
    height: 100px;

}
.headerright{
    margin-top:30px;
    margin-right: 90px;
    height: 20px;
    text-align: center;
    font-size: 20px;
}
.headerright a{
    color: rgb(0, 0, 0);
}
.main{
    width:100%;
    display: flex;
}
.main img{
    margin-left: 200px;
    height:200px;
}

.info{
    margin-top: 0.5pc;
    margin-bottom: 5em;
    width: 60%;
    font-size:25px;
    color: black;
    margin-left: 20px;
    text-align: left;
    line-height: 1.5;
}
.info p{
    margin-top: 1em;
    margin-bottom: 1em;
}
.info a{
    color: rgb(0, 0, 0);
}
.footer{
    width: 60%;
    align-items: center;
    display: flex;
}
@font-face {
    font-family: fontSite;
    src: url(font/InstrumentSerif-Regular.ttf);
}